<div class="container">
    <button class="btn-back" (click)="goHome()">← Volver</button>

    <h2>Mi perfil</h2>

    <div *ngIf="editing">
        <form class="form" [formGroup]="editForm">
            <input type="text" formControlName="name" maxlength="15" placeholder="Nombre" />
            @if (editForm.get('name')?.invalid && submitted) {
            @if (editForm.get('name')?.errors?.['required']) {
            <div class="error">Campo obligatorio</div>
            }
            @if (editForm.get('name')?.errors?.['minlength']) {
            <div class="error">Nombre inválido</div>
            }
            }

            <input type="text" formControlName="firstName" maxlength="15" placeholder="Primer apellido" />
            @if (editForm.get('firstName')?.invalid && submitted) {
            @if (editForm.get('firstName')?.errors?.['required']) {
            <div class="error">Campo obligatorio</div>
            }
            @if (editForm.get('firstName')?.errors?.['minlength']) {
            <div class="error">Apellido inválido</div>
            }
            }

            <input type="text" formControlName="secondName" maxlength="15" placeholder="Segundo apellido" />
            @if (editForm.get('secondName')?.invalid && submitted) {
            @if (editForm.get('secondName')?.errors?.['required']) {
            <div class="error">Campo obligatorio</div>
            }
            @if (editForm.get('secondName')?.errors?.['minlength']) {
            <div class="error">Apellido inválido</div>
            }
            }

            <input type="email" formControlName="email" maxlength="25" placeholder="Email" />
            @if (editForm.get('email')?.invalid && submitted) {
            @if (editForm.get('email')?.errors?.['required']) {
            <div class="error">Campo obligatorio</div>
            }
            @if (editForm.get('email')?.errors?.['email']) {
            <div class="error">El email no es válido</div>
            }
            }

            <input type="text" formControlName="phone" placeholder="Teléfono" maxlength="9" />
            @if (editForm.get('phone')?.invalid && submitted) {
            @if (editForm.get('phone')?.errors?.['required']) {
            <div class="error">El teléfono es obligatorio</div>
            }
            @if (editForm.get('phone')?.errors?.['pattern']) {
            <div class="error">El teléfono debe tener exactamente 9 dígitos numéricos</div>
            }
            }

            <input type="text" formControlName="city" maxlength="15" placeholder="Ciudad" />
            @if (editForm.get('city')?.invalid && submitted) {
            @if (editForm.get('city')?.errors?.['required']) {
            <div class="error">Campo obligatorio</div>
            }
            @if (editForm.get('city')?.errors?.['minlength']) {
            <div class="error">Ciudad inválida</div>
            }
            }

            <p class="error" *ngIf="error">{{ error }}</p>
            <button class="btn-save" (click)="save()">Guardar cambios</button>
        </form>
    </div>
</div>